<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>Responsive Elements - Semantic</title>
  
	<link rel="stylesheet" type="text/css" href="semantic/semantic.css">
	<script src="assets/library/jquery.min.js"></script>
	<script src="semantic/semantic.js"></script>

</head>

<body>
	
<h1 class="ui center aligned header">Responsive UI Examples</h1>


<h2 class="ui center aligned header">Basic Responsive</h2>


</body>
</html>
